@using bds.Models
@model MuaBanChoThue
@{
    ViewBag.Title = "Mua Bán";
}

<div class="row">
    <div class="col-md-8">
        <div class="direction">
            <a href="#">Trang Chủ</a> <i class="fa fa-caret-right" aria-hidden="true"></i>
            @if (ViewBag.Type == 1)
            {
                <a href="#">Mua bán</a>
            }
            else
            {
                <a href="#">Cho thuê</a>
            }

            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <a href="#">Bình Dương</a>
        </div>
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="chothue">
            <ul>
                @foreach (var q in Model.ListMuaBan)
                {
                    <li class="row">
                        <div class="col-md-3">
                            <a href="/Raovat/chitiet/@q.IDMuaBan/@q.URL">
                                <img alt="@q.Name" src="~/@q.HinhAnh" />
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="title">
                                <a href="/Raovat/chitiet/@q.IDMuaBan/@q.URL">
                                    @q.Name  <span class="date">(@Convert.ToDateTime(q.Created).ToString("dd/MM/yyyy"))</span>
                                </a>
                            </div>
                            <div class="detail row">
                                <div class="col-md-7">
                                    <div class="t1">
                                        <span>
                                            Diện tích
                                        </span>
                                        <span>
                                            : @q.DienTich
                                        </span>
                                    </div>
                                    <div class="t1">
                                        <span>
                                            Kích thước
                                        </span>
                                        <span>
                                            : @q.DienTich
                                        </span>
                                    </div>
                                    <div class="t1">
                                        <span>
                                            Khu vực
                                        </span>
                                        <span>
                                            : @q.TINHTHANH.TenTT
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <span>
                                        @q.Gia
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_bannerleft")

        @Html.Partial("_rightmuaban", Model.TinhThanh)
    </div>
</div>
