@using bds.Models
@model NewsViewModel
@{
    ViewBag.Title = "Thread";
}

<div class="row">
    <div class="col-md-8">
        <div class="listnews">
            <div class="title main-bg-button1">
                Tin tức thị trường
            </div>

            <ul>
                @foreach (var q in Model.TinTuc)
                {
                    <li>
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="/News/detail/@q.TinTucID/@q.URL">
                                    <img alt="@q.TintucName" src="@q.HinhAnh" />
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <div class="subject">
                                    <a href="/News/detail/@q.TinTucID/@q.URL">
                                        @q.TintucName
                                    </a>
                                </div>
                                <div class="descript">
                                    @q.MoTa
                                </div>
                            </div>
                        </div>
                    </li>
                }
              
            </ul>

        </div>
    </div>
    <div class="col-md-4">

        <div class="leftdetail">
            @Html.Partial("_tinnoibat", Model.TinNoiBat)
            @Html.Partial("_nhieunguoixem", Model.NhieuNguoiDoc)
        </div>


        @Html.Partial("_bannerleft")

    </div>
</div>

