@model bds.Models.IndexModel

<div class="hotnews">
    <div class="newstitle main-bg-button1 mtitle">
        Tin tức nổi bật
    </div>

    <div class="ctnhotnews">
        @*<div class="firsthot">
            <a href="/TinTuc/@Model.FirstNEWS.TinTucID/@Model.FirstNEWS.URL">
                <img alt="@Model.FirstNEWS.TintucName" src="@Model.FirstNEWS.HinhAnh" />
            </a>
            <a href="#">@Model.FirstNEWS.TintucName</a>
        </div>*@

        <ul>
            @foreach (var q in Model.TinTucNoiBat)
            {
                <li>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/TinTuc/@q.TinTucID/@q.URL">
                                <img alt="@q.TintucName" src="@q.HinhAnh" />
                            </a>
                        </div>
                        <div class="col-md-9">
                            <a href="/TinTuc/@q.TinTucID/@q.URL">
                                @q.TintucName
                            </a>
                        </div>
                    </div>
                </li>
            }

            @*<li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/2.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/3.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/4.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/5.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-3">
                        <a href="#">
                            <img alt="2" src="~/images/content/6.jpg" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="#">
                            Khảo sát phương án kết nối đường Võ Nguyên Giáp - Điểu Xiển
                        </a>
                    </div>
                </div>
            </li>*@
        </ul>
    </div>
</div>
