@model bds.Areas.Cpanel.Models.GIOITHIEU
@{
    ViewBag.Title = Model.TIEUDE;
    
}
@section metatags
{
    <meta name="keywords" content="@Model.TUKHOA2" />
    <meta name="description" content="@Model.TUKHOA3" />
}

<div>
    <div class="row">
        <div class="col-md-8 detailnews">
            <div class="contentnews">
                <div class="title">
                    <h3>
                        @Model.TIEUDE
                    </h3>
                </div>
                <div class="uptime">
                    Cập nhật: @Model.NGAYCAPNHAT
                </div>
                <div class="desc" style="padding:0 15px">
                    @Html.Raw(Model.NOIDUNG)
                </div>
            </div>

            <div class="othernews">
                <p>
                    <b>Tin cũ hơn</b>
                </p>
                <ul>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Căn hộ 28,8m2 vẫn " rộng rãi " nhờ bố trí tối ưu <span>(08/11/2017)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            @*@Html.Partial("_leftdetail")*@

            @Html.Partial("_bannerleft")
        </div>
    </div>
</div>
