@model bds.Areas.Cpanel.Models.BDS_HUONGNHA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<div id="page-heading">
    <h1>Xóa Hướng</h1>
    <div class="options">
        <div class="btn-toolbar">
            @*<a class="btn btn-success" href="/Cpanel/BDS_LOAIBDS/">Quay lại DM Loại BDS</a>*@
        </div>
    </div>
</div>
<div class="alert alert-dismissable alert-danger">
    <strong></strong> Bạn có chắc chắn muốn xóa nó không?
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHuongNha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHuongNha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
