@model IEnumerable<bds.Areas.Cpanel.Models.BANNER>
@{
    ViewBag.Title = "Banners";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}
<div id="page-heading">
    <h1>Danh sách Banners</h1>
    <div class="options">
        <div class="btn-toolbar">

            <a data-toggle="modal" href="#myModal_new" title="Thêm mới Banner" class="btn btn-success">
                Thêm mới Banner
            </a>
        </div>
    </div>
</div>
<div class="container" style="background-color:#ffffff; padding:5px 5px">
    @{ Html.RenderPartial("_Alerts"); }
    
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive">
                    <h4>
                        <strong style="color:#ff0000">
                            @item.NameBanner
                        </strong>

                        <a data-toggle="modal" href="#myModal_@item.IdBanner" title="Chỉnh sửa">
                            <i class="fa fa-pencil"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a data-toggle="modal" href="#myModalDel_@item.IdBanner" title="Xóa Banner">
                            <i class="fa fa-trash-o"></i>
                        </a>
                       
                    </h4>
                    @*Pop-up Chỉnh sửa*@
                    <div class="modal fade" id="myModal_@item.IdBanner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    
                                    <h4 class="modal-title">
                                        Chỉnh sửa: <span style="color:#ff0000; font-size:11pt">@item.NameBanner</span>
                                    </h4>

                                </div>
                                @using (Html.BeginForm("UpdateBanner", "BANNERS", new { @Id = item.IdBanner }, FormMethod.Post, new { enctype = "multipart/form-data", id = "Submitf", name = "Submitf", @class = "form-horizontal", onsubmit = "return validateForm()" }))
                                {
                                    <div class="modal-body">

                                        <div class="row" style="padding-bottom:10px">
                                            <div class="col-lg-12">
                                                <div class="form-group">

                                                    <div class="col-sm-6">
                                                        <label for="focusedinput">Hình ảnh:</label>
                                                        <input type="file" name="ImageURL" id="ImageURL" />
                                                        <br />
                                                    
                                                        <label for="focusedinput">Tên Banner</label><br />
                                                        <input type="text" name="NameBanner" id="NameBanner" value="@item.NameBanner" class="form-control" />
                                                        <br />
                                                        <label for="focusedinput">Link</label><br />
                                                        <input type="text" name="LinkBanner" id="LinkBanner" value="@item.LinkBanner" class="form-control" />
                                                    </div>
                                                    <div class="col-sm-6">
                                                        
                                                        @{
                                                            if (item.ViTri == 3 || item.ViTri == 4 || item.ViTri == 5)
                                                            {
                                                                <p>
                                                                    <img src="~/Areas/Cpanel/Images/Banners/@item.ImageURL" alt="" class="pull-left" style="margin: 0 20px 20px 0; height:150px">
                                                                </p>
                                                            }
                                                            if (item.ViTri == 2 || item.ViTri == 6)
                                                            {
                                                                <p>
                                                                    <img src="~/Areas/Cpanel/Images/Banners/@item.ImageURL" alt="" class="pull-left" style="margin: 0 20px 20px 0; width:90%">
                                                                </p>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="col-lg-6">
                                                    <div class="form-group">

                                                        <div class="col-sm-12">
                                                            <label for="focusedinput">Vị trí:</label>
                                                            <select class="form-control list-box tri-state" id="ViTri" name="ViTri">
                                                                @{
                                                                    if (item.ViTri == 2)
                                                                    {
                                                                        <option selected value="2">Banner Top</option>
                                                                        <option value="3">Banner Lề Trái</option>
                                                                        <option value="4">Banner Lề Phải</option>
                                                                        <option value="5">Banner Trang chủ</option>
                                                                        <option value="6">Banner Trang Chi tiết</option>
                                                                    }
                                                                    if (item.ViTri == 3)
                                                                    {
                                                                        <option value="2">Banner Top</option>
                                                                        <option selected value="3">Banner Lề Trái</option>
                                                                        <option value="4">Banner Lề Phải</option>
                                                                        <option value="5">Banner Trang chủ</option>
                                                                        <option value="6">Banner Trang Chi tiết</option>
                                                                    }
                                                                    if (item.ViTri == 4)
                                                                    {
                                                                        <option value="2">Banner Top</option>
                                                                        <option value="3">Banner Lề Trái</option>
                                                                        <option selected value="4">Banner Lề Phải</option>
                                                                        <option value="5">Banner Trang chủ</option>
                                                                        <option value="6">Banner Trang Chi tiết</option>
                                                                    }
                                                                    if (item.ViTri == 5)
                                                                    {
                                                                        <option value="2">Banner Top</option>
                                                                        <option value="3">Banner Lề Trái</option>
                                                                        <option value="4">Banner Lề Phải</option>
                                                                        <option selected value="5">Banner Trang chủ</option>
                                                                        <option value="6">Banner Trang Chi tiết</option>
                                                                    }
                                                                    if (item.ViTri == 6)
                                                                    {
                                                                        <option value="2">Banner Top</option>
                                                                        <option value="3">Banner Lề Trái</option>
                                                                        <option value="4">Banner Lề Phải</option>
                                                                        <option value="5">Banner Trang chủ</option>
                                                                        <option selected value="6">Banner Trang Chi tiết</option>
                                                                    }
                                                                }
                                                                
                                                            </select>
                                                            <br />
                                                            <label for="focusedinput">Ẩn/Hiện</label><br />
                                                            <select class="form-control list-box tri-state" id="HienThi" name="HienThi">

                                                                @{
                                                                    if (item.HienThi == 1)
                                                                    {
                                                                        <option selected value="1">Hiện thị</option>
                                                                        <option value="0">Ẩn</option>
                                                                    }
                                                                    if (item.HienThi == 0)
                                                                    {
                                                                        <option value="1">Hiện thị</option>
                                                                        <option selected value="0">Ẩn</option>
                                                                    }
                                                                }

                                                            </select>

                                                            <br />
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">

                                                        <label for="focusedinput">Kiểu điều hướng</label><br />
                                                        <select class="form-control list-box tri-state" id="KieuChuyenHuong" name="KieuChuyenHuong">
                                                            @{
                                                                if (item.KieuChuyenHuong == "_parent")
                                                                {
                                                                    <option selected value="_parent">Mở trên trang hiện tại</option>
                                                                    <option value="_blank">Mở cửa sổ mới</option>
                                                                }
                                                                if (item.KieuChuyenHuong == "_blank")
                                                                {
                                                                    <option value="_parent">Mở trên trang hiện tại</option>
                                                                    <option selected value="_blank">Mở cửa sổ mới</option>
                                                                }
                                                            }
                                                            

                                                        </select>
                                                        <br />

                                                        @*<label for="focusedinput">Link</label><br />
                                                        <input type="text" name="LinkBanner" id="LinkBanner" class="form-control" />*@

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                }
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                    @*Pop-up Xóa*@
                    <div class="modal fade" id="myModalDel_@item.IdBanner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                    <h4 class="modal-title">
                                        Bạn có chắn chắn muốn xóa: <span style="color:#ff0000; font-size:11pt">@item.NameBanner</span> này không?
                                    </h4>

                                </div>
                                @using (Html.BeginForm("DelBanner", "BANNERS", new { @Id = item.IdBanner }, FormMethod.Post, new { enctype = "multipart/form-data", id = "Submitf", name = "Submitf", @class = "form-horizontal", onsubmit = "return validateForm()" }))
                                {
                                    <div class="modal-body">

                                        <div class="row" style="padding-bottom:10px">
                                            <div class="col-lg-12">
                                                <div class="form-group">

                                                    <div class="col-sm-6">

                                                        @{
                                                            if (item.ViTri == 3 || item.ViTri == 4 || item.ViTri == 5)
                                                            {
                                                                <p>
                                                                    <img src="~/Areas/Cpanel/Images/Banners/@item.ImageURL" alt="" class="pull-left" style="margin: 0 20px 20px 0; height:150px">
                                                                </p>
                                                            }
                                                            if (item.ViTri == 2 || item.ViTri == 6)
                                                            {
                                                                <p>
                                                                    <img src="~/Areas/Cpanel/Images/Banners/@item.ImageURL" alt="" class="pull-left" style="margin: 0 20px 20px 0; width:90%">
                                                                </p>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger">Xóa</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                                                }
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <table class="table table-condensed">

                        <tbody>

                            <tr>
                                <td style="width:50%">Link: <span style="font-weight:bold">@item.LinkBanner</span></td>
                                <td>
                                    Điều hướng: <span style="font-weight:bold">
                                        @{
                                            if (item.KieuChuyenHuong == "_parent")
                                            {
                                                <span>Mở trên trang hiện tại</span>

                                            }
                                            if (item.KieuChuyenHuong == "_blank")
                                            {

                                                <span>Mở cửa sổ mới</span>
                                            }
                                        }
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Ẩn/Hiện: <span style="font-weight:bold">
                                        @{
                                            if (item.HienThi == 1)
                                            {
                                                <span class="label label-success">Hiện thị</span>

                                            }
                                            if (item.HienThi == 0)
                                            {

                                                <span class="label label-default">Ẩn</span>
                                            }
                                        }
                                    </span>
                                </td>
                                <td>
                                    Lần cập nhật cuối:<span style="font-weight:bold"> @item.NgayCapNhat</span>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h4> </h4>
                @{
                    if (item.ViTri == 3 || item.ViTri == 4 || item.ViTri == 5)
                    {
                        <p>
                            <img src="~/Areas/Cpanel/Images/Banners/@item.ImageURL" alt="" class="pull-left" style="margin: 0 20px 20px 0; height:150px">
                        </p>
                    }
                    if (item.ViTri == 2 || item.ViTri == 6)
                    {
                        <p>
                            <img src="~/Areas/Cpanel/Images/Banners/@item.ImageURL" alt="" class="pull-left" style="margin: 0 20px 20px 0; width:90%">
                        </p>
                    }
                }
                

            </div>
            
        </div>
        <hr style="border-bottom: 1px solid #e6e7e8; border:1; margin: 0px" />
     }




</div>
@*Pop-up*@
<div class="modal fade" id="myModal_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span style="color:#ff0000; font-size:11pt">Thêm mới Banner</span>
                </h4>

            </div>
            @using (Html.BeginForm("AddNewBanner", "BANNERS", FormMethod.Post, new { enctype = "multipart/form-data", id = "Submitf", name = "Submitf", @class = "form-horizontal", onsubmit = "return validateForm()" }))
            {
                <div class="modal-body">

                    <div class="row" style="padding-bottom:10px">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <label for="focusedinput">Hình ảnh:</label>
                                    <input type="file" name="ImageURL" id="ImageURL" />
                                    <br />
                                </div>
                                <div class="col-sm-12">
                                    <label for="focusedinput">Tên Banner</label><br />
                                    <input type="text" name="NameBanner" id="NameBanner" class="form-control" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="focusedinput">Link</label><br />
                                    <input type="text" name="LinkBanner" id="LinkBanner" class="form-control" />
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group">

                                    <div class="col-sm-12">
                                        <label for="focusedinput">Vị trí:</label>
                                        <select class="form-control list-box tri-state" id="ViTri" name="ViTri">

                                            <option value="2">Banner Top</option>
                                            <option value="3">Banner Lề Trái</option>
                                            <option value="4">Banner Lề Phải</option>
                                            <option value="5">Banner Trang chủ</option>
                                            <option value="6">Banner Trang Chi tiết</option>
                                        </select>
                                        <br />
                                        <label for="focusedinput">Ẩn/Hiện</label><br />
                                        <select class="form-control list-box tri-state" id="HienThi" name="HienThi">

                                            <option selected value="1">Hiện</option>
                                            <option value="0">Ẩn</option>

                                        </select>

                                        <br />
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">

                                    <label for="focusedinput">Kiểu điều hướng</label><br />
                                    <select class="form-control list-box tri-state" id="KieuChuyenHuong" name="KieuChuyenHuong">

                                        <option selected value="_parent">Mở trên trang hiện tại</option>
                                        <option value="_blank">Mở cửa sổ mới</option>

                                    </select>
                                    <br />

                                    @*<label for="focusedinput">Link</label><br />
                                    <input type="text" name="LinkBanner" id="LinkBanner" class="form-control" />*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->