<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700,700i&amp;subset=vietnamese" rel="stylesheet">
    <title>@ViewBag.Title - Nhà đất Bình Dương</title>
    @RenderSection("metatags", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="banner-left">
        

        @{Html.RenderAction("getBannerLeft", "Home");}
    </div>
    <div class="container wrapper">

        @{Html.RenderAction("getHeader", "Home");}


        @{Html.RenderAction("getMenu", "Home");}


        @Html.Partial("_social")

    </div>
    <div class="container body-content">
        @RenderBody()


        @{Html.RenderAction("getFooter", "Home");}



    </div>

    <div class="banner-right">
        @{Html.RenderAction("getBannerRight", "Home");}
    </div>

    <div id="full-opacity">&nbsp;</div>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
        $.src = "https://v2.zopim.com/?5U5F6b1u0ZZOhoUkdg1ZZSViXxmqY68l"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
    })(document, "script");
</script>
<!--End of Zendesk Chat Script-->