
@using bds.Models
@model MenuViewModel
@using bds.Models
@{ Helper h = new Helper();}

<div class="menubar main-bg-button1">
    <ul class="dropdown">
        <li class="parent">
            <a href="/">
                <img alt="home" src="~/images/home-hover.png" />
            </a>
        </li>
        <li class="parent">
            <a href="/raovat/detail/@Model.MuaBan.IdMenu/mua-ban">
                @Model.MuaBan.TenMenu
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
            <ul class="sub_menu">
                @foreach (var x in h.getChildMenu(Model.MuaBan.IdMenu))
                {
                    <li>
                        <a href="~/raovat/muaban/@x.IdMenu/@x.url">
                            Cần bán @x.TenMenu
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="parent">
            <a href="/raovat/detail/@Model.CHoThue.IdMenu/cho-thue">
                @Model.CHoThue.TenMenu
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
            <ul class="sub_menu">
                @foreach (var x in h.getChildMenu(Model.CHoThue.IdMenu))
                {
                    <li>
                        <a href="~/raovat/chothue/@x.IdMenu/@x.url">
                            Cho thuê @x.TenMenu
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="parent">
            <a href="/duan">
                @Model.DuAn.TenMenu
                <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
            <ul class="sub_menu">
                @foreach (var x in h.getChildMenu(Model.DuAn.IdMenu))
                {
                    <li>
                        <a href="~/duan/xemduan/@x.IdMenu/@x.url">
                            @x.TenMenu
                        </a>
                    </li>
                }
            </ul>
        </li>
        @foreach (var q in Model.TinTuc)
        {
            <li class="parent">
                <a href="~/news/viewsub/@q.IdMenu/@q.url">
                    @q.TenMenu
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                </a>

                <ul class="sub_menu">
                    @foreach (var x in h.getChildMenu(q.IdMenu))
                    {
                        <li>
                            <a href="~/news/thread/@x.IdMenu/@q.url">
                                @x.TenMenu
                            </a>
                        </li>
                    }
                </ul>

            </li>
        }

        <li class="parent">
            <a href="#">
                Liên hệ - góp ý
            </a>
        </li>
               
    </ul>
</div>



