@using bds.Areas.Cpanel.Models
@model IEnumerable<bds.Areas.Cpanel.Models.TINHTHANH>
@using bds.Models
@{ Helper h = new Helper();}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<style>
    .dd {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        max-width: 90%;
        list-style: none;
        font-size: 13px;
        line-height: 20px;
    }
    /*.dd-list {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }*/
    .dd-item, .dd-empty, .dd-placeholder {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        min-height: 20px;
        font-size: 13px;
        line-height: 20px;
    }

    .dd-handle {
        display: block;
        height: 30px;
        margin: 5px 0;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #ccc;
        background: #fafafa;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
</style>

<div id="page-heading">
    <h1>Danh mục Tỉnh thành</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a class="btn btn-success" href="/Cpanel/TINHTHANH/Create"><i class="fa fa-plus-square-o"></i>Thêm mới</a>

        </div>
    </div>
</div>

<div class="container" style="background-color:#ffffff; padding:5px 5px">
    <ol class="dd-list">
        @foreach (var item in Model)
        {
            <li data-id="1" class="dd-item" style="background-color:#1194f6; color:white">
                <div class="dd-handle" style="background-color:#1194f6;">Tên <span style="float:right; font-weight:bold">Hiện thị &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sửa | Xóa</span> </div>
            </li>
            <li data-id="@item.IdTT" class="dd-item">
                <div class="dd-handle">
                    @item.TenTT

                <span style="float:right">
                    @{
                        if (item.HienThi == 1)
                        {
                            <img src="/Areas/Cpanel/Images/Check.png" style="cursor:pointer; width:15px;" title="Hiện thị">
                        }
                        else if (item.HienThi == 0)
                        {
                            <img src="/Areas/Cpanel/Images/disable.png" style="cursor:pointer; width:15px;" title="Ẩn">
                        }
                    }
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/Cpanel/TINHTHANH/Edit/@item.IdTT">Sửa</a>
                    | <a href="/Cpanel/TINHTHANH/Delete/@item.IdTT">Xóa</a>
                </span>
            </div>
            @Html.Action("_PartialViewChildTinhThanh", "TINHTHANH", new { ParentID = @item.IdTT })
        </li>

        }
    </ol>
    @*<div id="nestable" class="dd">
        <ol class="dd-list">
            <li data-id="1" class="dd-item" style="background-color:#1194f6; color:white">
                <div class="dd-handle" style="background-color:#1194f6;">Tên <span style="float:right; font-weight:bold">Hiện thị &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sửa | Xóa</span> </div>
            </li>

            @{int temp = 0; }
            @foreach (var q in Model)
            {
                <li data-id="@q.IdTT" class="dd-item">
                    <div class="dd-handle">
                        @q.TenTT
                        <span style="float:right ;">
                            @{
                                if (q.HienThi == 1)
                                {
                                    <img src="/Areas/Cpanel/Images/Check.png" style="cursor:pointer; width:15px;" title="Hiện thị">
                                }
                                else if (q.HienThi == 0)
                                {
                                    <img src="/Areas/Cpanel/Images/disable.png" style="cursor:pointer; width:15px;" title="Ẩn">
                                }
                            }
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/Cpanel/TINHTHANH/Edit/@q.IdTT">Sửa</a>
                            | <a href="/Cpanel/TINHTHANH/Delete/@q.IdTT">Xóa</a>
                        </span>
                    </div>
                    <ol class="dd-list" style="">
                        @foreach (var x in h.getChildTinhThanh(q.IdTT))
                        {
                            <li data-id="@x.IdTT" class="dd-item">
                                <div class="dd-handle">
                                    @x.TenTT <span style="float:right;">
                                        @{
                                            if (x.HienThi == 1)
                                            {
                                                <img src="/Areas/Cpanel/Images/Check.png" style="cursor:pointer; width:15px;" title="Hiện thị">
                                            }
                                            else if (x.HienThi == 0)
                                            {
                                                <img src="/Areas/Cpanel/Images/disable.png" style="cursor:pointer; width:15px;" title="Ẩn">
                                            }
                                        }
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="/Cpanel/TINHTHANH/Edit/@x.IdTT">Sửa</a>
                                        | <a href="/Cpanel/TINHTHANH/Delete/@x.IdTT">Xóa</a>
                                    </span>
                                </div>
                            </li>
                                            }
                    </ol>
                </li>
                                            }
        </ol>
    </div>*@
</div>
