@model bds.Areas.Cpanel.Models.MENU

@{
    ViewBag.Title = "Edit Menu";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<div id="page-heading">
    <h1>Chỉnh sửa DM Menu</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a class="btn btn-success" href="/Cpanel/Menu/">Quay lại DM Menu</a>

        </div>
    </div>
</div>
<div class="container" style="background-color:#ffffff; padding:2px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdMenu)

            <div class="form-group">
                @Html.Label("Tên Menu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenMenu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenMenu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Danh mục cha", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdCha", null, "-- Đặt làm Menu Cha --", new { @class = "form-control", })
                    @*@Html.EditorFor(model => model.IdCha, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.IdCha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Thứ tự", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.ThuTu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ThuTu, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-8">
                    <label style="font-style:italic; text-align:left" class="control-label col-md-8">Nhập số 1, 2, 3,... theo thứ tự tăng dần</label>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HienThi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @*@Html.EditorFor(model => model.HienThi, new { htmlAttributes = new { @class = "form-control" } })*@
                    <select class="form-control" id="HienThi" name="HienThi">
                        @{ if (Model.HienThi == 1)
                            {
                                <option selected value="1">Hiện thị</option>
                                <option value="0">Ẩn</option>
                            }
                            else
                            {
                                <option value="1">Hiện thị</option>
                                <option selected value="0">Ẩn</option>
                            }
                        }


                    </select>
                    @Html.ValidationMessageFor(model => model.HienThi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
                            }

</div>
