@model bds.Areas.Cpanel.Models.BDS_TINTUC

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script>

    $(function () {

        CKEDITOR.replace('NoiDung', {
            extraPlugins: 'imagebrowser',
            imageBrowser_listUrl: "/Utilities/ImageBrowser",
            language: 'en',
            skin: 'Moono_blue',
            toolbar: 'class',
            //filebrowserImageBrowseUrl : '@Url.Content("~/Content/ckeditor/plugins/imagebrowser/browser/browser.html")',
            filebrowserImageUploadUrl: '/Utilities/UploadImage',
            height: '500px'
        })


    });


    $(document).ready(function () {
        //$("#IDMenu").prop("disabled", true);
        $(function () {
            $('#IDMenuCha').change(function () {
                $("#IDMenu").prop("disabled", false);
                var idCha = $('#IDMenuCha').val();
                //var selectedBrand = $('#IDBrand').val(); IDMenu
                var clearmoldid = $("#IDMenu");
                clearmoldid.empty();
                if (idCha == null || idCha == "") {
                    $('#IDMenu').prop('disabled', true);
                }
                else {
                    $.ajax(
                        {
                            url: "/BDS_TINTUC/FillMenuL2",
                            type: 'GET',
                            cache: false,
                            data: { idCha: idCha },
                            //success: function (result) {
                            //    var items = "<option>Select Model</option>";
                            //    $.each(result, function (i, state) {
                            //        items += "<option value='" + state.Text + "'>" + state.Text + "</option>";
                            //    });
                            //    $('#idModelCate').html(items);

                            //}

                            success: function (data) {
                                var optionhtml1 = '<option value="' +
                                    0 + '">' + "--Chọn Menu Cấp con--" + '</option>';
                                $('#IDMenu').append(optionhtml1);

                                $.each(data, function (i) {

                                    var optionhtml = '<option value="' +
                                        data[i].Value + '">' + data[i].Text + '</option>';
                                    $('#IDMenu').append(optionhtml);
                                });
                            }
                        });
                }

            });
        });
    });
    </script>

@using (Html.BeginForm(null,null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div id="page-heading">
            <h1>Chỉnh sửa tin tức</h1>
            <div class="options">
                <div class="btn-toolbar">

                    <input type="submit" value="Lưu" class="btn btn-green" />
                    <a class="btn btn-success" href="/Cpanel/BDS_TINTUC/">Quay lại Trang chủ</a>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:#ffffff; padding:2px">
            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-gray">
                        @*<div class="panel-heading">
                        <h5></h5>
                        <div class="options">

                        </div>
                    </div>*@
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tiêu đề</label>
                                <div class="col-sm-10">

                                    @Html.EditorFor(model => model.TintucName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TintucName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hình ảnh</label>
                                <div class="col-sm-5">

                                    <input type="file" id="HinhAnh" name="HinhAnh" />

                                </div>
                                <div class="col-sm-5">

                                    <img src='~/Areas/Cpanel/Images/TinTuc/@Model.HinhAnh' style="height:70px" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Menu</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("IDMenuCha", null, "--Chọn Menu cấp 1--", htmlAttributes: new { @class = "form-control" })
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Menu Con</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("IDMenu", null, "--Chọn Menu cấp 2--", htmlAttributes: new { @class = "form-control" })
                                    @*<select class="form-control col-md-2" data-val="true" id="IDMenu" name="IDMenu"></select>*@
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mô tả ngắn</label>
                                <div class="col-sm-10">
                                    <textarea id="MoTa" class="form-control" rows="6" name="MoTa">@Model.MoTa</textarea>
                                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="panel panel-gray">

                        <div class="panel-body">

                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Vị trí</label>
                                <div class="col-sm-2">
                                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Vitri must be a number." id="Vitri" name="Vitri" type="number" value="1">
                                </div>
                                <label for="selector1" class="col-sm-2 control-label">Nổi bật</label>
                                <div class="col-sm-2">
                                    <select class="form-control list-box tri-state" id="NoiBat" name="NoiBat">
                                        <option selected value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>

                                </div>
                                <label for="selector1" class="col-sm-2 control-label">Hot</label>
                                <div class="col-sm-2">
                                    <select class="form-control list-box tri-state" id="HotIcon" name="HotIcon">
                                        <option selected value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Ẩn/Hiện</label>
                                <div class="col-sm-2">
                                    <select class="form-control list-box tri-state" id="Visible" name="Visible">
                                        <option selected value="true">Hiện</option>
                                        <option value="false">Ẩn</option>
                                    </select>

                                </div>
                                <label for="selector1" class="col-sm-3 control-label">Nhiều người đọc</label>
                                <div class="col-sm-2">
                                    <select class="form-control list-box tri-state" id="NhieuNguoiDoc" name="NhieuNguoiDoc">
                                        <option selected value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>

                                </div>
                            </div>
                            <h5 style="border-bottom:1px solid #808080">SEO Google</h5>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Từ khóa</label>
                                <div class="col-sm-10">

                                    @Html.EditorFor(model => model.MetaKeyword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MetaKeyword, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Meta Description</label>
                                <div class="col-sm-10">
                                    <textarea id="MetaDescrip" class="form-control" rows="5" name="MetaDescrip">@Model.MetaDescrip</textarea>
                                    @Html.ValidationMessageFor(model => model.MetaDescrip, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="row">

                <span style="padding-left:20px">Nội dung chi tiết</span>
                <div class="col-md-12">
                    <textarea id="NoiDung" name="NoiDung">@Model.NoiDung</textarea>
                    @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>
    </div>


    <div class="form-horizontal">
        <h4>BDS_TINTUC</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TinTucID)

        <div class="form-group">
            @Html.LabelFor(model => model.TintucName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TintucName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TintucName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDMenu, "IDMenu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDMenu", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDMenu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoiBat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.NoiBat)
                    @Html.ValidationMessageFor(model => model.NoiBat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NhieuNguoiDoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.NhieuNguoiDoc)
                    @Html.ValidationMessageFor(model => model.NhieuNguoiDoc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountView, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountView, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CountView, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HotIcon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HotIcon)
                    @Html.ValidationMessageFor(model => model.HotIcon, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy, "CreateBy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreateBy", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreateBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Updated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Updated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Updated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBy, "UpdateBy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UpdateBy", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UpdateBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Visible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Visible)
                    @Html.ValidationMessageFor(model => model.Visible, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
