@model IEnumerable<bds.Areas.Cpanel.Models.BDS_TINTUC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TintucName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.NoiBat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhieuNguoiDoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountView)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotIcon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visible)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.MENU.TenMenu)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TintucName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.NoiBat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhieuNguoiDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountView)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotIcon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.MENU.TenMenu)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TinTucID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TinTucID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TinTucID })
        </td>
    </tr>
}

</table>
