@model bds.Areas.Cpanel.Models.GIOITHIEU

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script type="text/javascript">
    //$(function () {

    //    $('#Brows').click(function () {
    //        var ckfinder = new CKFinder();
    //        ckfinder.selectActionFunction = function (Images) {
    //            $('#hinhanh').val(Images);

    //        };
    //        ckfinder.popup();
    //    });
    //})

</script>
<script type="text/javascript">

    //$(function () {
    //    CKEDITOR.replace("NOIDUNG",
    //        { height: '500px', },
    //        {
    //            customConfig: "/Content/ckeditor/config.js",
    //            skin: 'Moono_blue',
    //            toolbar: 'class',
    //        });
    //})

    $(function () {

        CKEDITOR.replace('NOIDUNG', {
            extraPlugins: 'imagebrowser',
            imageBrowser_listUrl: "/Utilities/ImageBrowser",
            language: 'en',
            skin: 'Moono_blue',
            toolbar: 'class',
            //filebrowserImageBrowseUrl : '@Url.Content("~/Content/ckeditor/plugins/imagebrowser/browser/browser.html")',
            filebrowserImageUploadUrl: '/Utilities/UploadImage',
            height: '500px'
        })


    });
</script>
@{ Html.RenderPartial("_Alerts"); }
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div id="page-heading">
            <h1>Thêm mới bài viết</h1>
            <div class="options">
                <div class="btn-toolbar">

                    <input type="submit" value="Lưu" class="btn btn-green" />
                    <a class="btn btn-success" href="/Cpanel/GIOITHIEU/">Quay lại</a>
                </div>
            </div>
        </div>

        <div class="container" style="background-color:#ffffff; padding:2px">
            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h5></h5>
                            <div class="options">

                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tên</label>
                                <div class="col-sm-10">

                                    @Html.EditorFor(model => model.TIEUDE, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TIEUDE, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tóm tắt</label>
                                <div class="col-sm-10">
                                    <textarea id="TOMTAT" class="form-control" rows="5" name="TOMTAT"></textarea>
                                    @*@Html.EditorFor(model => model.TOMTAT, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.TOMTAT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="selector1" class="col-sm-2 control-label">Vị trí</label>
                                <div class="col-sm-2">
                                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Vitri must be a number." id="THUTU" name="THUTU" type="number" value="1">
                                </div>
                                <label for="selector1" class="col-sm-2 control-label">Ẩn/Hiện</label>
                                <div class="col-sm-2">
                                    <select class="form-control list-box tri-state" id="HIENTHI" name="HIENTHI">
                                        <option selected value="1">Hiện thị</option>
                                        <option value="0">Ẩn</option>
                                    </select>

                                </div>
                                <label for="selector1" class="col-sm-2 control-label">Hiện trên Menu</label>
                                <div class="col-sm-2">
                                    <select class="form-control list-box tri-state" id="HIENTHIMENU" name="HIENTHIMENU">
                                        <option selected value="1">Có</option>
                                        <option value="0">Không</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h5>SEO GOOGLE</h5>
                            <div class="options">

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    @*<input type="text" class="form-control" placeholder="Mỗi từ khóa cách nhau bởi dấu ','">*@
                                    @Html.EditorFor(model => model.TUKHOA2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TUKHOA2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Keywords</label>
                                <div class="col-sm-10">
                                    @*<input type="text" class="form-control" placeholder="Mỗi từ khóa cách nhau bởi dấu ','">*@
                                    @Html.EditorFor(model => model.TUKHOA2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mỗi từ khóa cách nhau bởi dấu ," } })
                                    @Html.ValidationMessageFor(model => model.TUKHOA2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea id="TUKHOA3" class="form-control" rows="5" name="TUKHOA3"></textarea>
                                    @*@Html.EditorFor(model => model.TUKHOA3, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.TUKHOA3, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea id="NOIDUNG" name="NOIDUNG"></textarea>
                </div>
            </div>
        </div>
       
    </div>
}
