@model bds.Areas.Cpanel.Models.BDS_DIENTICH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BDS_DIENTICH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
