@model bds.Areas.Cpanel.Models.BDS_LOAIBDS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<div id="page-heading">
    <h1>Chỉnh sửa Loại BDS</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a class="btn btn-success" href="/Cpanel/BDS_LOAIBDS/">Quay lại DM Loại BDS</a>

        </div>
    </div>
</div>
<div class="container" style="background-color:#ffffff; padding:2px">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDBDS)

           
            <div class="form-group">
                @Html.Label("Loại BDS", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TENBDS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENBDS, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Số Thứ tự", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.THUTU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.THUTU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HIENTHI, htmlAttributes: new { @class = "control-label col-md-2" })
                
                <div class="col-md-2">
                    @{
                        if (Model.HIENTHI == 1)
                        {
                            <select class="form-control" id="HIENTHI" name="HIENTHI">
                                <option selected value="1">Hiện thị</option>
                                <option value="0">Ẩn</option>

                            </select>
                        }
                        if (Model.HIENTHI == 0)
                        {
                            <select class="form-control" id="HIENTHI" name="HIENTHI">
                                <option value="1">Hiện thị</option>
                                <option selected value="0">Ẩn</option>

                            </select>
                        }
                    }
                </div>

                
            </div>

           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

